.capital {
    text-transform: uppercase;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-size-14 { 
    font-size: 14px !important;
}

.bold {
    font-weight: bold;
}

.bg-cornflowerblue {
    background-color: cornflowerblue
}
.text-white{
    color:white
}

.top-buffer-20 {
    margin-top: 20px;
}

.table-width{
    width:50%
}


